
* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

.header {
	background-color: #141f40;
	height: 100px;
	width: 400px;
}

.left {
	float: left;
	background-color: #80bfa8;
	height: 250px;
	width: 150px;

}

.right {
	float: left;
	background-color: #8c2727;
	height: 250px;
	width: 250px;

}


.footer {
	background-color: #d98d30;
	height: 100px;
	width: 400px;

}